@import '../../colors.scss';
@import '../../fonts.scss';

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0;
  margin-top: 100px;
  background-color: rgb(80, 80, 80);
  width: 100%;
  z-index: 10000;

  &--logo {
    font-family: $font-monospace;
    color: $color-font;
    text-align: right;
    padding: 0;
    margin-right: 5px;
    vertical-align: middle;
    margin-bottom: 0;
    text-decoration: none;
    float: right;
  }

  &--logo:hover {
    background-color: rgb(255,255,255,0.1);
  }

  &__dark-mode {
    width: 24px;
    font-size: 14px;
    text-align: center;
    vertical-align:middle;
    background: none;
    color: $color-font;
    border-radius: 0;
    border-style: none;
    float: left;
    margin-left: 5px;
    margin-top: 2px;
  }

  &__dark-mode:hover{
    background-color: rgb(255,255,255,0.1);
  }

}
