@import './../../colors.scss';

.about {
  margin-top: 55px;

  &__message {
    background-color: $color-secondary;
    padding: 8px;
    margin-bottom: 0;
    text-align: center;
    color: $color-font;
  }

  &__content {
    text-align: center;

    &--title {
      margin-bottom: 0;
    }

    &--image {
      margin-bottom: 10px;
      width: 100%
    }

    &--body {
      display: inline-block;
      margin: 10px;
      padding: 10px;
      border: solid 3px rgb(160,160,180);
      background-color: rgb(180,180,200);
      border-radius: 10px;

      p {
        width: 40%;
      }

      img {
        width: 200px;
        margin: 10px;
      }
    }

  }
}
