@import './../../colors.scss';

.about {
  margin-top: 55px;

  &__message {
    background-color: $color-secondary;
    padding: 8px;
    margin-bottom: 0;
    text-align: center;
    color: $color-font;
  }

  &__content {
    margin-top: 15px;
    text-align: center;

    &--title {
      margin-bottom: 0;
    }

    &--image {
      margin-bottom: 10px;
      width: 100%
    }
  }
}
