<main class="mat-typography">
  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav class="nav" position="end">
      <mat-nav-list class="nav__menu">

        <a class="nav__menu--item" mat-list-item [routerLink]="'/about'">
          <fa-icon class="icon" [icon]="faPerson"></fa-icon> Over mij
        </a>
        <a class="nav__menu--item" mat-list-item [routerLink]="'/'">
          <fa-icon class="icon" [icon]="faCalendar"></fa-icon> Afspraak maken
        </a>
        <a class="nav__menu--item" mat-list-item [routerLink]="'/contact'">
          <fa-icon class="icon" [icon]="faPhone"></fa-icon> Contact
        </a>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header></app-header>
      <div style="height: 88vh;">

        <router-outlet></router-outlet>
      </div>
      <app-calendar></app-calendar>

      <app-footer></app-footer>

    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
