@import '../colors.scss';
@import '../fonts.scss';

.nav{
  max-height:250px;
  border-top: 5px solid;
  border-color: $color-highlight;
  margin-top: 55px;
  overflow: hidden;
  border-radius: 0 0 0 15px;
  background-color: $color-primary;
  color: $color-font;
  box-shadow: 10px 10px $color-shadow; 
}

.icon{
  margin-right:10px;
}