@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Gloria+Hallelujah|Inconsolata|Kulim+Park&display=swap');

$font-primary: 'Kulim Park', sans-serif;
$font-logo: 'Amatic SC', cursive;
$font-monospace: "Inconsolata", monospace;
$font-handwritten: 'Gloria Hallelujah', cursive;
