<section class="calendar">
  <div class="textbox">
      <p class="textbox--text">Hier kunt u een afspraak inplannen.</p>
  </div>
  <full-calendar
  *ngIf="options"
  #fullcalendar
  [defaultView]="timeGridWeek"
  [weekends]="false"
  [editable]="true"
  [events]="eventsModel"
  [header]="options.header"
  [minTime]="options.minTime"
  [maxTime]="options.maxTime"
  [slotDuration]="options.slotDuration"
  [slotLabelFormat]="options.slotLabelFormat"
  [allDaySlot]="options.allDaySlot"
  [contentHeight]="options.contentHeight"
  [columnHeaderFormat]="options.columnHeaderFormat"
  (dateClick)="dateClick($event)"
  (eventDragStop)="eventDragStop($event)"
  [plugins]="options.plugins"
  (eventClick)="eventClick($event)"
></full-calendar>
</section>
